{
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      2,
      2,
      {"SwitchCase": 1}
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "no-console": 0,
    "no-unused-vars": [
      2,
      {"argsIgnorePattern": "^unused.*"}
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "spread": true,
    "templateStrings": true
  },
  "plugins": [
  ],
  "globals":{plt: true, goog: true}
}
